.post {
    border: 1px solid rgb(17, 159, 142); 
    margin-left: 10px;
    margin-top: 20px;
    width: 400px;
    box-shadow: 7px 9px rgb(235, 138, 138);
    background-color: rgb(171, 237, 237);
}
.post:hover {
    box-shadow: 7px 9px rgb(231, 119, 119);
    cursor: pointer;
}